.footer {
  width: 100%;
  height: 260px;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footerContent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  padding: 1rem;
}

.subFooter {
  display: flex;
  background-color: #000;
  align-items: center;
  width: 100%;
  height: 30px;
  justify-self: flex-end;
  padding: 0rem 1rem;
  color: #FFF;
  font-size: 12px;
}

.footer li {
  color: #FFF;
}