html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Style Guide */



:root{
  --colorTitles:red;
  --colorHeader:#716f6f;
  --colorFooter:#e4e4e4;
  --colorGrey05:#9d9d9c;
  --colorFooterTitle:#706f6f;
  --colorOff:#a5153e;
  --colorKuna:#c0b021;
}

.BaseBadge-badge {
  color: #FFF !important;
}
.PrivateSwipeArea-root {
  width: 0px !important;
}

img{
  pointer-events: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}


*::-webkit-scrollbar {
  width: 8px; /* Tamaño del scroll en vertical */
  height: 8px; /* Tamaño del scroll en horizontal */
}

*::-webkit-scrollbar-thumb {
  background: var(--colorHeader);
}

.MuiTabs-flexContainer {
  display: flex;
  justify-content: center;
}
